### project setting
DJANGO_PORT=8000
DOCKER_EXPOSE_PORT=8060

### database
POSTGRES_DB=remusgold
POSTGRES_USER=remusgold
POSTGRES_PASSWORD=remusgold
POSTGRES_HOST=dbase
DB_PORT=5432

RABBITMQ_DEFAULT_USER=remusgold
RABBITMQ_DEFAULT_PASS=remusgold
RABBITMQ_DEFAULT_VHOST=remusgold
