django
#django-countries
pillow
djangorestframework
django-rest-elasticsearch
drf-yasg
psycopg2-binary
django-cors-headers
django-rest-resetpassword
bip32utils==0.3.post4
eth-keys==0.3.3
pycryptodome==3.9.9
pysha3==1.0.2
python-bitcoinrpc==1.0
geoip2